<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<settings>
  		<setting name="logImpl" value="LOG4J"/>
  	</settings>
  <typeAliases>
    <typeAlias type="community.vo.Member" alias="member"/>
    <typeAlias type="community.vo.Community" alias="community"/>
    <typeAlias type="community.vo.Withdrawal" alias="withdrawal"/>
    <typeAlias type="community.vo.Board" alias="board"/>
    <typeAlias type="community.vo.Vote" alias="vote"/>
    <typeAlias type="community.vo.Reply" alias="reply"/>
  </typeAliases>
  
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.mariadb.jdbc.Driver" />
				<property name="url" value="jdbc:mariadb://jw3520cns.cafe24.com:3306/jw3520cns" />
				<property name="username" value="jw3520cns" />
				<property name="password" value="cns75667566@@" />
			</dataSource>
		</environment>
		<environment id="jndidevelopment">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/cns" />
			</dataSource>
		</environment>
	</environments>
  
  <mappers>
    <mapper resource="community/dao/MysqlMemberDao.xml"/>
    <mapper resource="community/dao/MysqlCommunityDao.xml"/>
    <mapper resource="community/dao/MysqlWithdrawalDao.xml"/>
    <mapper resource="community/dao/MysqlBoardDao.xml"/>
    <mapper resource="community/dao/MysqlVoteDao.xml"/>
    <mapper resource="community/dao/MysqlReplyDao.xml"/>
  </mappers>
</configuration>